.headerContainer {
  background-color: #282c34;
  height: 20vh;
  display: block;
  align-content: center;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--gray-200);
  text-align: center;
  align-items: center;
  color: whitesmoke;

  h1 {
  // display: flex;
  //position: relative;
  //margin-left: auto;
  /* align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center; */
    color: whitesmoke;
    
   }
  span {
    //faz com que o item do span utilize todo espaço a esquera disponivel
    margin-left: auto;
    text-transform: capitalize; //captalize faz com que a primeira palavra seja maiuscula
    padding: 1vh 1rem;
  }

  .dropdown{
    display: flex;
    justify-content: center;
    
  }

  .localeDiv{ //dos buttons
    position: fixed;
    text-align: left;

    

    button {
      z-index: 5;
      width: 1.75rem;
      height: 1.75rem;
      margin-left: .5rem;
      //border-radius: 0.75rem;
			border: 0;
      background-color: transparent;

      align-items: center;
      justify-content: center;

      cursor:pointer;

      transition: filter 0.2s;//tempo de transição do brightness

      &:hover{
        filter: brightness(0.7);
      }
    }
    
    .buttonIcon{
      color: whitesmoke;
    }

    .buttonsChecked{
      opacity: 0.5;
    }

    .confirmedP{
      opacity: 0.3;
    }
  }
  
}
